biodaten/schemas/sicherung/___BiodatenMinimal.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:cmd="http://www.clarin.eu/cmd/1"
	xmlns:cue="http://www.clarin.eu/cmd/cues/1"
	xmlns:cue_old="http://www.clarin.eu/cmdi/cues/1"
	xmlns:cmdp="http://www.clarin.eu/cmd/1/profiles/clarin.eu:cr1:p_1659015263808" targetNamespace="http://www.clarin.eu/cmd/1/profiles/clarin.eu:cr1:p_1659015263808" elementFormDefault="qualified">
	<xs:annotation>
		<xs:appinfo
			xmlns:ann="http://www.clarin.eu">
			<cmd:Header>
				<cmd:ID>clarin.eu:cr1:p_1659015263808</cmd:ID>
				<cmd:Name>BiodatenMinimal-v0.9</cmd:Name>
				<cmd:Description>provides a minimal set of metadata for research data in bioinformatics</cmd:Description>
				<cmd:Status>development</cmd:Status>
				<cmd:DerivedFrom>clarin.eu:cr1:p_1610707853515</cmd:DerivedFrom>
			</cmd:Header>
		</xs:appinfo>
	</xs:annotation>
	<xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://www.w3.org/2001/xml.xsd"/>
	<xs:import namespace="http://www.clarin.eu/cmd/1" schemaLocation="https://infra.clarin.eu/CMDI/1.x/xsd/cmd-envelop.xsd"/>
	<xs:simpleType name="simpletype-typeOfStudy-clarin.eu.cr1.c_1659015263809">
		<xs:restriction base="xs:string">
			<xs:enumeration value="eukaryote" cmd:label=" "/>
			<xs:enumeration value="bacteria_archaea" cmd:label=" "/>
			<xs:enumeration value="plasmid" cmd:label=" "/>
			<xs:enumeration value="virus" cmd:label=" "/>
			<xs:enumeration value="organelle" cmd:label=" "/>
			<xs:enumeration value="metagenome" cmd:label=""/>
			<xs:enumeration value="mimarks-survey" cmd:label=" "/>
			<xs:enumeration value="mimarks-specimen" cmd:label=" "/>
			<xs:enumeration value="metatranscriptome" cmd:label=" "/>
			<xs:enumeration value="single amplified genome" cmd:label=" "/>
			<xs:enumeration value="metagenome-assembled genome" cmd:label=" "/>
			<xs:enumeration value="uncultivated viral genomes" cmd:label=""/>
			<xs:enumeration value="proteomics" cmd:label=""/>
			<xs:enumeration value="other"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="complextype-typeOfStudy-clarin.eu.cr1.c_1659015263809">
		<xs:simpleContent>
			<xs:extension base="cmdp:simpletype-typeOfStudy-clarin.eu.cr1.c_1659015263809"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="simpletype-typeOfMethod-clarin.eu.cr1.c_1659015263810">
		<xs:restriction base="xs:string">
			<xs:enumeration value="sequencing method" cmd:label=" "/>
			<xs:enumeration value="isolation method" cmd:label=" "/>
			<xs:enumeration value="protein analysis method" cmd:label=" "/>
			<xs:enumeration value="particle analysis method" cmd:label=""/>
			<xs:enumeration value="other" cmd:label="Please describe your method below"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="complextype-typeOfMethod-clarin.eu.cr1.c_1659015263810">
		<xs:simpleContent>
			<xs:extension base="cmdp:simpletype-typeOfMethod-clarin.eu.cr1.c_1659015263810"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="simpletype-isolationMethod-clarin.eu.cr1.c_1659015263810">
		<xs:restriction base="xs:string">
			<xs:enumeration value="flow cytometric cell sorting" cmd:label=" "/>
			<xs:enumeration value="microfluidics" cmd:label=" "/>
			<xs:enumeration value="lazer-tweezing" cmd:label=" "/>
			<xs:enumeration value="optical manipulation" cmd:label=" "/>
			<xs:enumeration value="micromanipulation" cmd:label=" "/>
			<xs:enumeration value="density cushion" cmd:label=" "/>
			<xs:enumeration value="density gradient" cmd:label=" "/>
			<xs:enumeration value="(differential) (ultra)centrifugation" cmd:label=" "/>
			<xs:enumeration value="filtration" cmd:label=" "/>
			<xs:enumeration value="immunoaffinity" cmd:label=" "/>
			<xs:enumeration value="size-exclusion chromatography" cmd:label=" "/>
			<xs:enumeration value="ultrafiltration" cmd:label=""/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="complextype-isolationMethod-clarin.eu.cr1.c_1659015263810">
		<xs:simpleContent>
			<xs:extension base="cmdp:simpletype-isolationMethod-clarin.eu.cr1.c_1659015263810"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="simpletype-proteinAnalysisMethod-clarin.eu.cr1.c_1659015263810">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ELISA" cmd:label=" "/>
			<xs:enumeration value="flow cytometry" cmd:label=" "/>
			<xs:enumeration value="immun-electron microscopy" cmd:label=" "/>
			<xs:enumeration value="proteomics" cmd:label=" "/>
			<xs:enumeration value="western blot" cmd:label=""/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="complextype-proteinAnalysisMethod-clarin.eu.cr1.c_1659015263810">
		<xs:simpleContent>
			<xs:extension base="cmdp:simpletype-proteinAnalysisMethod-clarin.eu.cr1.c_1659015263810"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="simpletype-particleAnalysisMethod-clarin.eu.cr1.c_1659015263810">
		<xs:restriction base="xs:string">
			<xs:enumeration value="asymmetric flow field flow fractionation" cmd:label=" "/>
			<xs:enumeration value="atomic force microscopy" cmd:label=" "/>
			<xs:enumeration value="dynamic light scattering" cmd:label=" "/>
			<xs:enumeration value="electron microscopy" cmd:label=" "/>
			<xs:enumeration value="high resolution flow cytometry" cmd:label=" "/>
			<xs:enumeration value="nanoparticle tracking analysis" cmd:label=" "/>
			<xs:enumeration value="tunable resistive pulse sensing"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="complextype-particleAnalysisMethod-clarin.eu.cr1.c_1659015263810">
		<xs:simpleContent>
			<xs:extension base="cmdp:simpletype-particleAnalysisMethod-clarin.eu.cr1.c_1659015263810"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="simpletype-sequencingMethod-clarin.eu.cr1.c_1659015263810">
		<xs:restriction base="xs:string">
			<xs:enumeration value="metagenomics"/>
			<xs:enumeration value="amplicon" cmd:label=""/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="complextype-sequencingMethod-clarin.eu.cr1.c_1659015263810">
		<xs:simpleContent>
			<xs:extension base="cmdp:simpletype-sequencingMethod-clarin.eu.cr1.c_1659015263810"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="simpletype-environmentalPackage-clarin.eu.cr1.c_1659015263812">
		<xs:restriction base="xs:string">
			<xs:enumeration value="air" cmd:label=""/>
			<xs:enumeration value="built environment" cmd:label=""/>
			<xs:enumeration value="host-associated" cmd:label=""/>
			<xs:enumeration value="human-associated" cmd:label=""/>
			<xs:enumeration value="human-gut" cmd:label=""/>
			<xs:enumeration value="human-oral" cmd:label=""/>
			<xs:enumeration value="human-skin" cmd:label=""/>
			<xs:enumeration value="human-vaginal" cmd:label=""/>
			<xs:enumeration value="hydrocarbon resources-cores" cmd:label=""/>
			<xs:enumeration value="hydrocarbon resources-fluids/swabs" cmd:label=""/>
			<xs:enumeration value="microbial mat/biofilm" cmd:label=""/>
			<xs:enumeration value="miscellaneous natural or artificial environment" cmd:label=""/>
			<xs:enumeration value="plant-associated" cmd:label=""/>
			<xs:enumeration value="sediment" cmd:label=""/>
			<xs:enumeration value="soil" cmd:label=""/>
			<xs:enumeration value="wastewater/sludge" cmd:label=""/>
			<xs:enumeration value="water" cmd:label=""/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="complextype-environmentalPackage-clarin.eu.cr1.c_1659015263812">
		<xs:simpleContent>
			<xs:extension base="cmdp:simpletype-environmentalPackage-clarin.eu.cr1.c_1659015263812"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="BiodatenMinimal-v0.9">
		<xs:annotation/>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Study-v0.9" cmd:ConceptLink="https://schema.org/MedicalStudy" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>A study in bioinformatics; general information</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="biologicalBackground" minOccurs="1" maxOccurs="1" type="xs:string">
								<xs:annotation>
									<xs:documentation>information about the biological background of the study such as experiment aim and the main experimental factors and variables</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="typeOfStudy" cmd:ConceptLink="http://gensc.org/ns/mixs/investigation_type" minOccurs="1" maxOccurs="1" type="cmdp:simpletype-typeOfStudy-clarin.eu.cr1.c_1659015263809" cue:DisplayPriority="1">
								<xs:annotation>
									<xs:documentation>Investigation type</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Experiment-v0.9" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>Measurement conditions; methods</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="samplePreparationOrProcessing" minOccurs="1" maxOccurs="1" type="xs:string">
								<xs:annotation>
									<xs:documentation>specify how the sample was prepared or processed, e.g., extraction, purification, concentration, derivation; use controlled vocabulary at https://ontobee.org/ontology/OBI?iri=http://purl.obolibrary.org/obo/OBI_0000094</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="typeOfMethod" minOccurs="1" maxOccurs="1" type="cmdp:simpletype-typeOfMethod-clarin.eu.cr1.c_1659015263810" cue:depends_on="typeOfMethod:other--method;typeOfMethod:isolation method--isolationMethod;typeOfMethod:sequencing method--sequencingMethod;typeOfMethod:protein analysis method--proteinAnalysisMethod;typeOfMethod:particle analysis method--particleAnalysisMethod">
								<xs:annotation>
									<xs:documentation>class of method used</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="method" minOccurs="0" maxOccurs="1" type="xs:string">
								<xs:annotation>
									<xs:documentation>if typeOfMethod is other,  description of method in a few words. </xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="isolationMethod" minOccurs="0" maxOccurs="1" type="cmdp:simpletype-isolationMethod-clarin.eu.cr1.c_1659015263810">
								<xs:annotation>
									<xs:documentation>name of the isolation method used</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="proteinAnalysisMethod" minOccurs="0" maxOccurs="1" type="cmdp:simpletype-proteinAnalysisMethod-clarin.eu.cr1.c_1659015263810">
								<xs:annotation>
									<xs:documentation>name of the protein analysis method used</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="particleAnalysisMethod" minOccurs="0" maxOccurs="1" type="cmdp:simpletype-particleAnalysisMethod-clarin.eu.cr1.c_1659015263810" cue:DisplayPriority="1">
								<xs:annotation>
									<xs:documentation>name of the particle analysis method used</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="sequencingMethod" minOccurs="1" maxOccurs="1" type="cmdp:simpletype-sequencingMethod-clarin.eu.cr1.c_1659015263810">
								<xs:annotation>
									<xs:documentation>type of the sequence method used</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="URLMethodDescription" cmd:ConceptLink="https://schema.org/MedicalScholarlyArticle" minOccurs="0" maxOccurs="1" type="xs:anyURI">
								<xs:annotation>
									<xs:documentation>link to scientific paper where method has been described (use persistent identifiers such as DOIs, if possible)</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Sample-v0.9" cmd:ConceptLink="https://bioschemas.org/types/Sample" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>Sample: a material entity that is representative of a whole, see also http://purl.jp/bio/4/id/200906034237481745</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="organism" cmd:ConceptLink="http://purl.jp/bio/4/id/200906079942882108" minOccurs="0" maxOccurs="1" type="xs:anyURI" cue:DisplayPriority="1">
								<xs:annotation>
									<xs:documentation>name of the organism used in the sample; use a controlled vocabulary by make reference to an ontology such as http://purl.obolibrary.org/obo/OBI_0100026</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="specimenTissueType" cmd:ConceptLink="http://purl.jp/bio/4/id/200906048950987544" minOccurs="0" maxOccurs="1" type="xs:anyURI" cue:DisplayPriority="1">
								<xs:annotation>
									<xs:documentation>name of the material (structure, substance, device) removed from a source (patient, donor, physical location, product) OR a material entity that has the specimen role. Please use controlled vocabulary  such as http://purl.obolibrary.org/obo/OBI_0100051</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="cellType" cmd:ConceptLink="http://purl.jp/bio/4/id/201106077286713294" minOccurs="0" maxOccurs="1" type="xs:anyURI" cue:DisplayPriority="1">
								<xs:annotation>
									<xs:documentation>name of the cell type used in the sample. Use controlled vocabulary such as https://bioportal.bioontology.org/ontologies/CL or http://purl.obolibrary.org/obo/CL_0000000</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="measurementTarget" minOccurs="0" maxOccurs="1" type="xs:anyURI" cue:DisplayPriority="1">
								<xs:annotation>
									<xs:documentation>measurement target (e.g., protein, gene, compound)</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="sampleBackground" minOccurs="1" maxOccurs="1" type="xs:string" cue:DisplayPriority="1">
								<xs:annotation>
									<xs:documentation>description of the sample</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="Environment-v0.9" cmd:ConceptLink="http://dx.doi.org/10.1186/2041-1480-4-43" minOccurs="1" maxOccurs="1">
								<xs:annotation>
									<xs:documentation>Environment: a system which has the disposition to environ one or more material entities.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="environmentalPackage" cmd:ConceptLink="http://gensc.org/ns/mixs/env_package" minOccurs="1" maxOccurs="1" type="cmdp:simpletype-environmentalPackage-clarin.eu.cr1.c_1659015263812" cue:DisplayPriority="1">
											<xs:annotation>
												<xs:documentation>Environment in which the sample was taken</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="broadScaleEnvironmentalContext" cmd:ConceptLink="http://purl.obolibrary.org/obo/ENVO_00000428" minOccurs="1" maxOccurs="1" type="xs:anyURI">
											<xs:annotation>
												<xs:documentation>Broad ecological context your sample or specimen came from.  Please use the vocabulary defined in http://purl.obolibrary.org/obo/ENVO_00000428</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="environmentalMedium" cmd:ConceptLink="http://purhttp://purl.obolibrary.org/obo/ENVO_00010483" minOccurs="1" maxOccurs="1" type="xs:anyURI">
											<xs:annotation>
												<xs:documentation>Environmental material or materials immediately surrounded your sample or specimen prior to sampling. Please use the vocabulary defined in  http://purl.obolibrary.org/obo/ENVO_00010483</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>